.hero-container {
  background-image: url("/assets/background.png");
  background-size: cover;
  background-position: center;
  width: 100%; /* Full width of the container */
  height: 100vh; /* Full viewport height */
  display: flex; /* Flexbox layout for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text inside the grid */
  padding: 0 20px; /* Padding for better spacing on smaller screens */
  background-repeat: no-repeat; /* Prevent background repeat */
}

.hero-text {
  font-weight: bold;
  margin-bottom: 16px;
  max-width: 899px; /* Max width to ensure responsiveness */
  line-height: 1.5; /* Adjust line height for better spacing */
}

.hero-subtext {
  margin-bottom: 32px;
}

.hero-button {
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: bold; /* Make the button text bold */
  letter-spacing: 1px; /* Slightly increase letter spacing for style */
}
